
        <div class="full color1 topslide">
            <div class="logo">
                <img src="img/qlma.png" height="55px">
            </div>
            <div class="date visible-lg">
                &nbsp;&nbsp;Tänään on torstai 30. heinäkuuta 2015
            </div>
            <div class="name text-right">
                <a href="#menu-toggle" class="visible-xs" id="menu-toggle">Menu</a>
                <span class="visible-lg">
                    <img src="https://pbs.twimg.com/profile_images/524213225026772992/9D216N3W_400x400.jpeg" height="25" width="25" class="img-rounded">
                    Janne Gylling
                    <i class="fa fa-cog fa-inverse"></i>  <a href="account.html">Omat tiedot</a> &nbsp;  | &nbsp;
                    <i class="fa fa-key"></i>  <a href="index.html" class="click">Kirjaudu ulos</a> &nbsp;&nbsp;
                </span>
            </div>
        </div>
